altgraph==0.17.2
antiorm==1.2.1
async-generator==1.10
attrs==21.4.0
auto-py-to-exe==2.15.0
backports.entry-points-selectable==1.1.1
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.10.8
cffi==1.15.0
click==8.0.3
colorama==0.4.4
cryptography==36.0.1
db==0.1.1
db-sqlite3==0.0.1
distlib==0.3.3
Eel==0.12.4
filelock==3.4.0
Flask==2.0.2
Flask-MySQLdb==0.2.0
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
gunicorn==20.1.0
h11==0.13.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
macholib==1.15.2
MarkupSafe==2.0.1
modulegraph==0.19.2
mysqlclient==2.1.0
numpy==1.22.1
outcome==1.1.0
pandas==1.4.0
pefile==2021.9.3
pipenv==2021.11.23
platformdirs==2.4.0
py2app==0.26.1
pycparser==2.21
pyinstaller==4.8
pyinstaller-hooks-contrib==2022.0
PyMySQL==1.0.2
pyOpenSSL==22.0.0
python-dateutil==2.8.2
pytz==2021.3
pywin32-ctypes==0.2.0
selenium==4.1.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
SQLAlchemy==1.4.31
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.8
virtualenv==20.10.0
virtualenv-clone==0.5.7
Werkzeug==2.0.2
whichcraft==0.6.1
wsproto==1.0.0
zope.event==4.5.0
zope.interface==5.4.0
psycopg2==2.4.4
