<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Profile</title>
	<link rel="stylesheet" href="{{ url_for('static', filename = 'list/styles.css') }}">
	<link rel="icon" href="{{ url_for('static', filename = 'images/logo.png') }}">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
    {% for row in rows %}
        <a href="{{ url_for('login') }}" class="text-black"><span class="text-primary">
                <img src = "static/list/icons8-logout-rounded-left-30.png" width="50" height="50">
        </a>
        <div class="wrapper">
            <div class="left">
                <img src="static/images/logo.png"
                alt="user" width="100">
                <h4> </h4>
                 <p> </p>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Information</h3>
                    <div class="info_data">
                         <div class="data">
                            <h4>Name</h4>
                            <p>{{row["name"]}}</p>
                         </div>
                         <div class="data">
                           <h4>Branch</h4>
                            <p>{{row["branch"]}}</p>
                      </div>
                    </div>
                </div>

              <div class="projects">
                    <h3>YUVA Events</h3>
                    <div class="projects_data">
                         <div class="data">
                            <h4>YUVA Points</h4>
                            <p>{{row["points"]}}</p>
                         </div>
                         <div class="data">
                           <h4>Events</h4>
                            <p>{{row["events"]}}</p>
                      </div>
                    </div>
                </div>

            </div>
        </div>
    {% endfor %}

</body>
</html>